<% include header %>

  
  <p>Upload your file.</p>

  <form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="snapshot" />
  <input type="submit" value="Upload" />
  </form>

  <a href="<%= authUrl %>">Login</a>


  <div id="pictures">
	<ul>
		<% images.forEach(function(image) { %>
			<li><img src="<%= image %>" width="100"/></li>
		<% }); %>
   	</ul>
  </div>

<% include footer %>