<% include header %>

  <div class="jumbotron">
    <h1>Welcome to Mosaic Creator.</h1>
    <p>With Mosaic Creator you can create a photo mosaic of a picture using your favourite photos. Login to get started.</p>
    <p><a class="btn btn-info btn-lg" href="/login" role="button">Log in with Google</a></p>
  </div><!-- /.jumbotron -->

  <div class="row">
  	<h2>How it works?</h2>
  	<div class="col-md-4 col-sm-4">
  		<h3>1. Upload a photo</h3>
  		<p>Choose a photo that you would like us to turn into a photo-mosaic</p>
  	</div>

  	<div class="col-md-4 col-sm-4">
  		<h3>2. Upload more pictures</h3>
  		<p>Upload some pictures that we will use to stitch the mosaic for you.</p>
  	</div>


  	<div class="col-md-4 col-sm-4">
  		<h3>3. Create the mosaic</h3>
  		<p>With one button click, create the mosaic and after a short while you will be able to download it for free.</p>
  	</div>
  </div>

<% include footer %>