<% include header %>

  <div class="jumbotron">
    <h1>Welcome to Mosaic Creator.</h1>
    <p>You can create a mosaic of a picture using your favourite photos. Login to get started.</p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a></p>
  </div><!-- /.jumbotron -->

<% include footer %>